---
import BookmarkTags from "./BookmarkTags.astro";

interface Props {
  bookmarks: any[];
  title: string;
}

const { bookmarks, title } = Astro.props as Props;

---

<section id={`${title.toLowerCase()}`}>
  <h2>#{title}</h2>
  <ul>
    {bookmarks.map((bookmark) => (
      <li>
        <a href={bookmark.link} target="_blank" rel="noopener noreferrer">
          {bookmark.metadata?.ogTitle ?? bookmark.link}
        </a>
        {bookmark.tags && bookmark.tags.length > 0 && (
          <>
            {' '}
            (<BookmarkTags tags={bookmark.tags.split(",")} />)
          </>
        )}
      </li>
    ))}
  </ul>
</section>

<style>
  ul {
    list-style: disc inside;
    padding: 0;
    margin: 0 0 2rem 0;
  }

  li {
    margin: 0.25rem 0;
  }

  a {
    color: var(--theme-text);
  }
</style>
